.flexContainerH{
/* display: flex; */
/* flex-direction: row; */
}

.flexContainerV{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 18vmin;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}


p{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin-bottom: 10px;
}

label{
    color: rgba(124, 124, 124, 1);
    font-weight: 400;
    font-size: small;

}

.tnc{
    color: rgba(124, 124, 124, 1);
    font-weight: 500;
    font-size: small;

}

.tnc .tncgreen{
    color: rgba(114, 219, 115, 1);
}

.signupCheck{
    height: auto;
    width: auto;
    margin-right: 1.5vmin;
}